ul{
	list-style: none;
}

/*body {
	background-color: #BC8F8F;
}

.container{
	width:1050px;
	min-height: 700px;
	position: absolute;
	background-color: #DEB887;
	right:0;
	left:0;
	margin: 0 auto;
	text-align: center;
	border: solid 1px;
}

.title{
	font-family: 'Dancing Script', cursive;
	font-size: 75px;
	text-align: center;
	margin-bottom: 20px; 
}

#timer{
	text-align: center;
	font-family: 'Dancing Script', cursive;
	font-size: 50px;
}

#startButton{
	padding:15px;
	font-size: 30px;
	background-color: #D2691E;
	font-family: 'Lora', serif;
	border: solid 1px;
}

#startButton:hover{
	background-color: #B03A2E;
}

#startOverButton{
	padding:15px;
	font-size: 30px;
	background-color: #D2691E;
	font-family: 'Lora', serif;
	border: solid 1px;
}

#startOverButton:hover{
	background-color: #B03A2E;
}

.question{
	padding:20px;
	font-size: 22px;
	background: #784212;
	border-radius:20px;
	margin:20px 20px 25px;
}

.option{
	width: 450px;
	display: block;
	padding:10px 0 10px 15px;
	margin: 0 auto;
	margin-bottom: 25px;
	background-color: #CA6F1E;
	border-radius:20px;
}

.option:hover{
	background-color: #B03A2E;
}


*/